 body {
            font-family: 'Comic Sans MS', cursive, sans-serif;
            background-color: #f0f8ff;
            text-align: center;
            margin-top: 100px;
        }
        h1 {
            color: #ff6f61;
        }
        p {
            font-size: 1.5rem;
            color: #333;
        }